#whitelist files
!*.yaml
!.gitignore
!*.md


#ignore files

#log files
*.txt
*.log

#secrets
*secrets*
*token*
!secrets-DUMMY-EXAMPLE.yaml

#folders
node-red/
.storage

#backups
*.db*

#random files
pyozw.sqlite
